$header-font: 'Oxygen',
sans-serif;
$content-font: 'Source Sans Pro',
sans-serif;

$primary-color: #C4385E;
$secondary-color: #BF00BA;
$tertiary-color: #0A0082;
$quaternary-color: #14D823;

$mid-offset: 10;
$boarder-size: 8px;

$lighter-color: #eeeeee;
$light-color: darken($lighter-color, $mid-offset);
$darker-color: #111111;
$dark-color: lighten($darker-color, $mid-offset);

$header-background: $dark-color;
$header-foreground: $light-color;
$header-border: $secondary-color;
$header-link: $lighter-color;

$aside-background: $light-color;
$aside-foreground: $darker-color;
$aside-border: $quaternary-color;
$aside-link: $tertiary-color;

$main-background: $lighter-color;
$main-foreground: $darker-color;
$main-border: $tertiary-color;
$main-link: $primary-color;

$footer-background: $light-color;
$footer-foreground: $lighter-color;
$footer-border: $light-color;
$footer-link: $tertiary-color;

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    font-family: $content-font;
    font-size: 24px;
    line-height: 38px;
    font-weight: 300;

}

header,
aside,
main,
footer {
    padding: 0.5rem 1rem;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    align-items: baseline;
    text-align: center;
    background-image: url("/theme-header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    background-color: $header-background;
    color: $header-foreground;
    border-bottom: $boarder-size solid $header-border;

    a {
        color: $lighter-color;

        &:hover {
            color: darken($lighter-color, $mid-offset);
        }
    }

    nav {
        display: none;
        font-size: 150%;
    }
}

aside {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-self: stretch;
    font-size: 1.25rem;
    line-height: 1.8rem;

    background-color: $aside-background;
    color: $aside-foreground;
    border-bottom: $boarder-size solid $aside-border;

    a {
        color: $aside-link;

        &:hover {
            color: darken($aside-link, $mid-offset);
        }
    }

    section {
        border: 1px solid $tertiary-color;
        display: grid;
        grid-template-columns: 1fr minmax(50%, 1fr);
        padding: 0.5rem;

        &:hover {
            border-color: lighten($tertiary-color, $mid-offset);
            color: lighten($tertiary-color, $mid-offset);

            h3 {
                color: lighten($tertiary-color, $mid-offset);
            }
        }
    }

    .description {
        padding-left: 0.75rem;

        h3,
        p {
            margin: 0;
        }
    }
}

main {
    background-color: $main-background;
    color: $main-foreground;
    border-bottom: $boarder-size solid $main-border;

    a {
        color: $main-link;

        &:hover {
            color: darken($main-link, $mid-offset);
        }
    }
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

    background-color: $footer-background;
    color: $footer-foreground;
    border-bottom: $boarder-size solid $footer-border;

    a {
        color: $footer-link;

        &:hover {
            color: darken($footer-link, $mid-offset);
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: $darker-color;
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: 3.75rem;
}

h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1.3125rem;
    line-height: 2rem;
}

h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

h4 {
    font-size: 1rem;
    line-height: 1.5rem;
}

h5 {
    font-size: 1rem;
    line-height: 1.5rem;
}

h6 {
    font-size: 1rem;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    font-weight: bold;
}

img {
    max-width: 100%;
    margin-bottom: 1.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

section {
    img {
        margin-bottom: 0;
    }
}

@media all and (min-width: 64rem) {

    header,
    aside,
    main,
    footer {
        padding: 1.5rem 5rem;
    }

    header {
        grid-template-columns: minmax(0, auto) minmax(33rem, 48rem) minmax(11rem, 16rem) minmax(0, auto);
        align-items: baseline;
        text-align: left;

        h1 {
            grid-column: 2;
        }

        nav {
            display: block;
            text-align: right;
        }
    }

    main {
        display: grid;
        grid-template-columns: minmax(0, auto) minmax(44rem, 64rem) minmax(0, auto);

        article,
        .posts,
        .post {
            grid-column: 2;
        }
    }

    footer {
        grid-template-columns: minmax(0, auto) minmax(22rem, 32rem) minmax(22rem, 32rem) minmax(0, auto);
        text-align: left;

        ul.site {
            grid-column: 2;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 3.75rem;
    }

    h1 {
        font-size: 3rem;
        line-height: 3.25rem;
        text-transform: uppercase;
    }

    h2 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    h4 {
        font-size: 1.3125rem;
        line-height: 2rem;
    }

    h5 {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    h6 {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}