<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Oxygen:700|Source+Sans+Pro:300" rel="stylesheet">
    <link rel="stylesheet" href="{{ get_url(path="print.css") }}" media="print">
    <link rel="stylesheet" href="{{ get_url(path="index.css") }}">

    {% if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") }}">
    {% endif %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>

<body>
    <header>
        <h1><a href="/">{{ config.title }}</a></h1>
        <nav><a href="/about">About</a></nav>
    </header>

    <aside>
        {% for project in config.extra.featured_projects %}
        <a href="{{ project.url }}">
            <section>
                <img src="{{ project.image }}" />
                <div class="description">
                    <h3>{{ project.name }}</h3>
                    <p>{{ project.description }}</p>
                </div>
            </section>
        </a>
        {% endfor %}
    </aside>

    <main>
        {% block content %}
        <div class="posts">
            {% for page in section.pages | sort(attribute="date") | reverse %}
            <div class="post">
                <h1 class="post-title"><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
                {{ page.content | truncate(length=400) | safe }}
                <a href="{{ page.permalink }}">[Read More]</a>
            </div>
            <hr />
            {% endfor %}
        </div>
        {% endblock content %}
    </main>

    <footer>
        <ul class="site">
            {% for link in config.extra.static_pages %}
            <li><a href="{{ link.url }}">{{ link.name }}</a></li>
            {% endfor %}
        </ul>
    </footer>
</body>

</html>