{% extends "index.html" %}

<div class="content container">
  {% block content %}
  <div class="posts">
    {% for page in section.pages | sort(attribute="date") | reverse %}
    <div class="post">
      <h1 class="post-title"><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
      {{ page.content | truncate(length=400) | safe }}
      <a href="{{ page.permalink }}">[Read More]</a>
    </div>
    <hr />
    {% endfor %}
  </div>
  {% endblock content %}
</div>